<!-- inicio.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio AppManagement</title>
</head>
<body>
    <h1>Bienvenido a AppManagement</h1>
    <ul>
        <li><a href="{% url 'registro_alumno' %}">Registrar Alumno</a></li>
        <li><a href="{% url 'registro_profesor' %}">Registrar Profesor</a></li>
        <li><a href="{% url 'registro_curso' %}">Registrar Curso</a></li>
        <li><a href="{% url 'listado_general' %}">Listado General</a></li>
    </ul>
</body>
</html>